In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Jewelry & Watches_2025Q4.xlsx')

    Rank Rank Last Quarter eBay.com Buyer 검색 키워드 (글로벌)
0      1                 1                       rolex
1      2                 2            rolex mens watch
2      3                 3                       watch
3      4                 4             omega seamaster
4      5                 5                       seiko
..   ...               ...                         ...
196   96                90               sapphire ring
197   97                97                      brooch
198   98               107              14 k gold ring
199   99               154       david yurman earrings
200  100               113            tiffany necklace

[201 rows x 3 columns]

In [11]:
df = df.rename(columns={'eBay.com Buyer 검색 키워드 (글로벌)' : 'Keyword', 'Rank Last Quarter' : 'Last Rank'})

df = df[['Rank', 'Last Rank', 'Keyword']]

In [13]:
df.head(10)

  Rank Last Rank           Keyword
0    1         1             rolex
1    2         2  rolex mens watch
2    3         3             watch
3    4         4   omega seamaster
4    5         5             seiko
5    6         9      mens watches
6    7        11       seiko watch
7    8         7         tag heuer
8    9         6             omega
9   10         8         watch men